@using Common.Enums
@model Web.Models.Profile.PrivateProfileModel

@{
    ViewBag.Title = "Your Profile";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>title</h2>

<div id="dropZone" class="dropZone">Drop your files here</div>
<br/>
Uploaded Files:
<ul id="uploadResult">
</ul>

@using (Html.BeginForm("EditProfile", "Profile"))
{
    @Html.LabelFor(x => x.FirstName)
    @Html.TextBoxFor(x => x.FirstName)
    @Html.ValidationMessageFor(x => x.FirstName)

    @Html.LabelFor(x => x.LastName)
    @Html.TextBoxFor(x => x.LastName)
    @Html.ValidationMessageFor(x => x.LastName)

    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description)
    @Html.ValidationMessageFor(x => x.Description)
    
    @Html.LabelFor(x => x.Orientation)
    @Html.DropDownListFor(x => x.Orientation, Enum.GetNames(typeof(Orientation)).Select(c => new SelectListItem { Text = c, Value = c }).ToArray())
    @Html.ValidationMessageFor(x => x.Orientation)

    @Html.LabelFor(x => x.Gender)
    @Html.DropDownListFor(x => x.Gender, Enum.GetNames(typeof(Gender)).Select(c => new SelectListItem { Text = c, Value = c }).ToArray())
    @Html.ValidationMessageFor(x => x.Gender)

    @Html.LabelFor(x => x.Address)
    @Html.TextBoxFor(x => x.Address, new { @id = "address" })
    @Html.ValidationMessageFor(x => x.Address)

    @Html.LabelFor(x => x.Suburb)
    @Html.TextBoxFor(x => x.Suburb, new { @id = "suburb" })
    @Html.ValidationMessageFor(x => x.Suburb)

    @Html.LabelFor(x => x.City)
    @Html.TextBoxFor(x => x.City, new { @id = "city" })
    @Html.ValidationMessageFor(x => x.City)

    @Html.LabelFor(x => x.Country)
    @Html.TextBoxFor(x => x.Country, new { @id = "country" })
    @Html.ValidationMessageFor(x => x.Country)

    @Html.LabelFor(x => x.Postcode)
    @Html.TextBoxFor(x => x.Postcode, new { @id = "postcode" })
    @Html.ValidationMessageFor(x => x.Postcode)

    <div id="googleMap" style="width:600px;height:450px;"></div>
    
    <input type ="submit" value="Submit"/>
}

@section PageScripts
{
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCWDvzKRlIivJbwLUH-UJ1NgxySV99pH1s&sensor=true"></script>
    <script src="~/Scripts/jquery.filedrop.js"></script>
    <script src="~/Scripts/Custom/SelectLocation.js"></script>
    <script src="~/Scripts/Custom/ImageUpload.js"></script>
    <script type="text/javascript">
        SelectLocation.init();
        imageUpload("@Url.Action("Images", "Upload")" , "#dropZone", '#uploadResult');
    </script>
}
