@model Web.Models.Dinner.CreateDinnerModel
@{
    ViewBag.Title = "Create a dinner";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<h2>Create A Dinner</h2>
@using (Html.BeginForm("Create", "Dinner"))
{
    @Html.LabelFor(x => x.Starter)
    @Html.TextBoxFor(x => x.Starter)
    @Html.ValidationMessageFor(x => x.Starter)
    
    @Html.LabelFor(x => x.Main)
    @Html.TextBoxFor(x => x.Main)
    @Html.ValidationMessageFor(x => x.Main)

    @Html.LabelFor(x => x.Dessert)
    @Html.TextBoxFor(x => x.Dessert)
    @Html.ValidationMessageFor(x => x.Dessert)
    
    @Html.LabelFor(x => x.DryDinner)
    @Html.CheckBoxFor(x => x.DryDinner)
    @Html.ValidationMessageFor(x => x.DryDinner)

    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description)
    @Html.ValidationMessageFor(x => x.Description)

    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @id = "datetimepicker" })
    @Html.ValidationMessageFor(x => x.Date)

    <input type="submit" value="Submit!"/>
}

@section PageScripts
{
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/Custom/DinnerSetup.js"></script>
}
