@using Web.Core.Extensions
@model Web.Models.Dinner.ViewDinnerModel
@{
    ViewBag.Title = "Dinner";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewContext.FormContext = new FormContext();
    var hasPartner = Model.PartnerId != null;
}

<section id="intro" class="content no-header">
    <div class="container">
        <div class="row" id="dinnerInfo">
            <div class="col-lg-10">
                <a href="/Profile?id=@Model.UserId"><h1 class="heading-inline">@Model.FirstName @Model.LastName </h1></a>
                @if (hasPartner)
                {
                    <h1 class="heading-inline">&nbsp;and&nbsp;</h1>
                    <a href="/Profile?id=@Model.PartnerId"><h1 class="heading-inline">@Model.PartnerFirstName @Model.PartnerLastName </h1></a>
                }
                @if (hasPartner)
                {
                    <h5>Invite you to dinner on</h5>
                }
                else
                {
                    <h5>Invites you to dinner on</h5>
                }
                <h3>@Model.EventDate.ToString("dddd, MMMM d") at @Model.EventDate.ToShortTimeString()</h3>

            </div>
            <div class="col-sm-3 offset-top">
                <a href="/Profile?id=@Model.UserId"><img class="img-responsive" src="@Model.ProfileImageUrl" alt="Profile Image"></a>

                @if (hasPartner)
                {
                    <a href="/Profile?id=@Model.PartnerId"><img class="img-responsive" src="@Model.PartnerImageUrl" alt="Partner Profile Image"></a>
                }
            </div>
            <div class="col-sm-8 offset-top col-offset-1">
                <div class="row">
                    <div class="col-sm-11">
                        <h5>Starter</h5>
                        <p class="lead">@Model.Starter<br><br>
                    </div>
                    <div class="col-sm-11">
                        <h5>Main</h5>
                        <p class="lead">@Model.Main<br><br>
                    </div>
                    <div class="col-sm-11">
                        <h5>Dessert</h5>
                        <p class="lead">@Model.Dessert<br><br>
                    </div>
                    <div class="col-sm-11">
                        <h5>Information</h5>
                        <p class="lead">@Model.Description<br><br>
                    </div>
                    <div class="col-sm-12">
                        @if (Model.UserId != User.TryGetPrincipal().UserId)
                        {
                            if (!User.TryGetPrincipal().IsVerified)
                            {
                                <div class="alert alert-danger squared soft-hidden" id="applied">
                                    You need to activate your email before you can apply to join a dinner.
                                </div>
                            }
                            else
                            {
                                if (!Model.HasApplied)
                                {
                                    <!-- Will not display on one line unless formatted this way :S -->
                                    <div id="applyButtons">
                                        <a class="btn btn-syndicate btn-large squared" data-bind="text: ApplyText, click: ApplyClick" id="apply" href="#"></a>@Html.TextBoxFor(x => x.PartnerEmail, new {@id = "partnerEmail", @class = "form-control-inline soft-hidden", @data_bind = "value: PartnerEmail, valueUpdate: 'afterkeydown'", @placeholder = "Enter your friends email"})<a class="btn btn-info btn-large squared" data-bind="text: TogglePartnerText, click: TogglePartner" id="togglePartner" href="#">+ 1</a>
                                        <div class="has-error" data-bind="text: ApplyError"></div>
                                    </div>

                                    <div class="alert alert-success squared soft-hidden" id="applied">
                                        <strong>Application Sent!</strong> The host should get back to you shortly
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-success squared" id="applied">
                                        <strong>Application Sent!</strong> The host should get back to you shortly
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="comments">
            <div>
                <!-- ko if: Comments -->
                <!-- ko foreach: Comments-->
                <div class="comment">
                    <div class="comment-head">
                        <span data-bind="text: Name"></span> on 
                        <span class="blue" data-bind="text: CreatedDate"></span>
                    </div>
                    <div class="comment-text">
                        <span class="comment-text" data-bind="text: Text"></span>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <a class="btn" data-bind="click: ToggleNewComment, visible: !NewCommentVisible()" href="#">New Comment</a>
                <!-- ko if: NewCommentVisible -->
                <textarea data-bind="value: NewComment, valueUpdate: 'afterkeydown'"></textarea>
                <a class="btn" data-bind="click: Save" href="#">Save</a>
                <a class="btn" data-bind="click: ToggleNewComment" href="#">Cancel</a>
                <!-- /ko -->
            </div>
        </div>
    </div>
							
</section>

@section PageScripts
{
    <script src="~/Scripts/Custom/NewDinner.js"></script>
    <script src="~/Scripts/Custom/Comments.js"></script>
    <script type="text/javascript">
        ko.applyBindings(ViewDinnerVM("@Model.Id"), document.getElementById("dinnerInfo"));
        ko.applyBindings(CommentsVM("@Model.Id"), document.getElementById("comments"));
    </script>
}