@using Web.Extensions
 <!--start navigation-->
    <div class="navbar navbar-fixed-top">
        <div class="container" data-start="padding: 15px 0px;" data-200="padding: 0px 0px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img class="img-responsive" src="http://placehold.it/166x40" alt=""></a>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-right">
                     @if (Request.IsAuthenticated)
                    {
                        @Html.MenuItem("Home", "Index", "Home", "#intro", true)
                        @Html.MenuItem("About", "Index", "Home", "#services", true)
                        @Html.MenuItem("Dinners", "Index", "DinnerList")
                        @Html.MenuItem("My Events", "Index", "MyEvents")
                        @Html.MenuItem("Profile", "Index", "Profile")
                        @Html.MenuItem("Log Out", "LogOff", "Membership")
                    }
                    else
                    {
                        @Html.MenuItem("Home", "Index", "Home", "#intro")
                        @Html.MenuItem("About", "Index", "Home", "#services", true)
                        @Html.MenuItem("Sign Up", "Index", "Membership")
                        @Html.MenuItem("Login", "Login", "Membership")
                    }
                </ul>
            </div>
        </div>
    </div>
 <!--end navigation-->