@model Web.Models.MyEvents.MyEventsModel

@{
    ViewBag.Title = "title";
}

<h2>My Events</h2>

<h4>Hosted</h4>
<div class="row">
    @if (!Model.HostedDinners.Any())
    {
        <div class="col-sm-8">You aren't currently hosting any dinners.</div>
    }
    @foreach (var dinner in Model.HostedDinners)
    {
        <a href="@Url.Action("Index", "Dinner", new { id = dinner.DinnerId })">
            <div class="col-sm-3">@dinner.Date
                @if (!String.IsNullOrEmpty(dinner.Partner))
                {
                    <span> with @dinner.Partner</span>
                }
            </div>
            <div class="col-sm-3">@dinner.ApplicantCount Applicants</div>
        </a>
    }
</div>
<h4>Applied</h4>
<div class="row">
    @if (!Model.AppliedDinners.Any())
    {
        <div class="col-sm-8">You haven't applied for any active dinners.</div>
    }
    @foreach (var dinner in Model.AppliedDinners)
    {
        <a href="@Url.Action("Index", "Dinner", new { id = dinner.DinnerId })">
            <div class="col-sm-3">@dinner.Host
                @if (!String.IsNullOrEmpty(dinner.Partner))
                {
                    <span> and @dinner.Partner</span>
                }
            </div>
            <div class="col-sm-3">@dinner.Date
                
            </div>
            @if (!String.IsNullOrEmpty(dinner.AppliedPartner))
            {
                <div class="col-sm-3">with @dinner.AppliedPartner</div>
            }
        </a>
    }
</div>
<h4>Attended</h4>
<div class="row">
    @if (!Model.AttendedDinners.Any())
    {
        <div class="col-sm-8">You haven't attended any dinners.</div>
    }
    @foreach (var dinner in Model.AttendedDinners)
    {
        <a href="@Url.Action("Index", "Dinner", new { id = dinner.DinnerId })">
            <div class="col-sm-3">@dinner.Host
                @if (!String.IsNullOrEmpty(dinner.Partner))
                {
                    <span> and @dinner.Partner</span>
                }
            </div>
            <div class="col-sm-3">@dinner.Date
                
            </div>
            @if (!String.IsNullOrEmpty(dinner.AppliedPartner))
            {
                <div class="col-sm-3">with @dinner.AppliedPartner</div>
            }
        </a>
    }
</div>