@model Web.Models.MyEvents.ReviewModel

@{
    ViewBag.Title = "Review Applicants";
}

<section id="intro" class="content no-header">
    <div class="container">
        <div class="row">
            <h2>Review Applicants</h2>
            <h3>@Model.Date.ToString("dddd, MMMM d") at @Model.Date.ToShortTimeString()</h3>
            <h5>@Model.Starter</h5>
            <h5>@Model.Main</h5>
            <h5>@Model.Dessert</h5>
            <div class="col-sm-12">
                <!-- ko foreach: Applicants -->
                    <!-- ko if: Visible -->
                        <div class="row">
                            <a data-bind="attr: {href: ApplicantUrl}" data-toggle="tooltip" 
                               data-placement="bottom"
                               title="Go to Profile"><h4 class="heading-inline" data-bind="text: Name"></h4><span data-bind="text: GenderOrientation"></span></a>
                                <!-- ko if: PartnerId -->
                                    <h4 class="heading-inline">&nbsp;and&nbsp;</h4>
                                    <a data-bind="attr: { href: PartnerUrl }"><h4 class="heading-inline" data-bind="text: PartnerName"></h4><span data-bind="text: PartnerGenderOrientation"></span></a>
                                <!-- /ko -->
                            <a class="btn btn-eco accept" href="#" data-bind="click: $parents[0].Accept">Accept</a>
                            <a class="btn btn-cool remove" href="#" 
                               data-toggle="tooltip" 
                               data-placement="bottom"
                               title="This application will be removed from the list." data-bind="click: $parents[0].Remove" >Remove</a>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</section>
@section PageScripts
{ 
    <script src="~/Scripts/Custom/ReviewApplicantsVM.js"></script>
    <script type="text/javascript">
        $(function() {
            ko.applyBindings(ReviewVM(@Html.Raw(Json.Encode(Model))));
        })
    </script>
}
