@using Common.Enums
@model Web.Models.DinnerList.DinnerListModel
@{
    ViewBag.Title = "DinnerList";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>Dinner List</h2>

<ul>
@foreach (var dinner in Model.Dinners)
{
    <li>
        <img src ="@dinner.ProfileImageUrl" alt="profile image"/>
        <span>@dinner.Starter</span>
        <span>@dinner.Main</span>
        <span>@dinner.Dessert</span>
        <span>@dinner.Distance</span>
        <span>@dinner.Date</span>
    </li>
}
</ul>

@section PageScripts
{
}
