@using Common.Enums
@model Web.Models.DinnerList.DinnerListModel
@{
    ViewBag.Title = "DinnerList";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<section id="intro" class="content no-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-offset-2">
                <h1 class="text-center">Dinners Near You</h1>
            </div>
            <div class="col-lg-2 pull-right">
                <a class="btn btn-syndicate btn-small squared" href="~/Dinner/Create">Host a Dinner</a>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    @if (!Model.Dinners.Any())
                    {
                        <h4 class="text-center">There don't seem to be any dinners nearby. Try hosting one!</h4>
                    }
                    @foreach (var dinner in Model.Dinners)
                    {
                        <div class="col-lg-4 col-sm-4">
                            <div class="thumbnail">
                                <ul>
                                    <li class="readtime"><i class="icon-time"></i><p>@dinner.Distance Away</p></li>
                                    <li class="love"><i class="icon-picture"></i><p>Gallery</p></li>
                                    <li class="date"><i class="icon-calendar-empty"></i><p>@dinner.Date</p></li>
                                </ul>
                                <a href="@Url.Action("Index", "Dinner", new { id = dinner.Id })" role="button" data-toggle="modal">
                                    <img class="img-responsive imageListItem" src="@dinner.ProfileImageUrl" alt="">
                                    <div class="info">
                                        <h4>@dinner.Main</h4>
                                        <p><span>@dinner.Starter</span></p>
                                        <p><small>@dinner.Dessert</small></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section PageScripts
{
}
